doctype
<!--[if IE 8]><html class='ie8'><![endif]-->
<!--[if IE 9]><html class='ie9'><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
head
    meta(charset='utf-8')
    title jade to pug
    style.
        body{color: #ff6600;}
body
    h1#id.class1.class2(title='h1',data-id='007') 标签属性及值
    input(type='text' placeholder='输入用户名')
    input(type='password' placeholder='输入密码')
    input(type='checkbox' checked)
    h1 保持代码格式
    p
        | 1.aa
        strong 11
        | 2.bb
        span 22
        | 3.cc
        | 4.dd
    p.
        1.aa <strong>11</strong>
        2.bb
        <span>22</span>
        3.cc
        4.dd
    h1 注释与条件注释
    // i 单行注释
    //- i 非缓冲注释
    //-
        b 块注释
    script.
        var course ='js_jade';
    h1 申明变量和替换数据
    - var course='html_jade'
    h2(title=course) 优先级大于js申明的变量#{course.toUpperCase()}
    h1 转义
        - var data = 'text'
        - var htmlData = '<script>alert(1);</script><span>script</span>;'
        p #{data}
        p #{htmlData}
        p= data
        p= htmlData

        h3 非转义
        p!= htmlData
        p !{htmlData}

        h3 非解析变量符
        p \#{htmlData}
        p \!{htmlData}

        h3 不输出 undefined
        input(value='#{newData}')
        input(value=newData)
    h1 流程语句
    h3 for each
    - var imooc_obj={course:'jade',level:"high"}
    - var imooc_arr=['node',"jade",'express']
    - var imooc_json=[{id:1,items:['a','b']},{id:2,items:['a','b']}]
    - for(var key in imooc_obj)
        p #{key}
    each value,key in imooc_obj
        p #{key}: #{value}
    each item in imooc_arr
        p= item
</html>



